@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir-Regular.otf);
  font-weight: 300;
}
@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir.otf);
  font-weight: 900;
}
body {
  font-family: Avenir;
}
.lead {
  max-width: 610px;
}
.carousel-item {
  /* height: 100vh;
  min-height: 350px; */
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.name {
  width: 88px;
  height: 19px;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.43px;
  color: #424242;
}
.pd-tb-28 {
  padding-top: 28px;
  padding-bottom: 28px;
}
.mr-lr-26 {
  margin-left: 26px;
  margin-right: 26px;
}
.active {
  font-weight: 500;
}
.font-right {
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.43px;
  color: #424242;
}
.py-6 {
  padding-top: 34px;
  padding-bottom: 34px;
}
.section-1-header {
  font-family: Avenir;
  font-size: 36px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  color: #424242;
}
.section-2-header {
  font-size: 36px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  color: #424242;
  margin-top: 40px;
}
.section-1-desc {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.64px;
  text-align: center;
  color: #424242;
  width: 51%;
  margin: auto;
}
.section-2-desc-1 > a {
  text-decoration: underline;
  color: #424242;
}
.carousel-indicators {
  bottom: -38px;
}
.carousel-indicators li {
  background-color: #479afb;
  height: 5px;
}

.border-b {
  border-bottom: solid 1px rgba(151, 151, 151, 0.2);
}
.section-2-desc-1 {
  font-size: 21px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.64px;
  color: #424242;
}
.section-2-desc-2 {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.46px;
  color: #424242;
}
.btn-custom {
  height: 40px;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.46px;
  color: #ffffff;
  background-color: #479afb;
}
.title {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.46px;
  color: #424242;
  font-weight: bold;
}
.desc {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.46px;
  color: #424242;
  font-weight: 500;
}
.desc-2 {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 0.43px;
  color: #424242;
}
.sub-desc {
  text-align: center;
  padding: 20px;
}
.header-title {
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.64px;
  color: #424242;
}
.about-section-title {
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.64px;
  color: #424242;
}
.pd-b-20 {
  padding-bottom: 20px;
}
.modal-body {
  margin: 0 37px;
}
.pd-lr-85 {
  padding-left: 85px;
  padding-right: 85px;
}
.modal-content {
  border-radius: 10px;
  background-color: #fff;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.right {
  object-fit: contain;
  transform: rotate(-180deg);
}
.left {
  object-fit: contain;
}
.pd-b-46 {
  padding-bottom: 46px;
}
.btn:hover {
  color: #ffffff;
}
.btn:focus {
  box-shadow: none;
}
.section-footer {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.43px;
  color: #424242;
}
.footer {
  padding-left: 42px;
  margin-top: 33px;
  margin-bottom: 33px;
}
.carousel-image {
  width: 100%;
  margin: auto;
}
.carousel-control-next,
.carousel-control-prev {
  width: auto;
}
.carousel-image-2 {
  width: 100%;
  margin: auto;
}
.carousel-image-3 {
  width: 100%;
  margin: auto;
}
.sub-image {
  padding: 20px;
}
.sub-image > img {
  max-width: 800px;
  width: 100%;
}
.about-desc {
  font-family: Avenir;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.64px;
  color: #424242;
}
.about-desc img {
  max-width: 55px;
  width: 100%;
}
img.behance {
  max-width: 130px;
  width: 100%;
}
.mr-lr-42 {
  margin-left: 42px;
  margin-right: 42px;
}
.pd-l-40 {
  padding-left: 40px;
}
.pd-21 {
  padding: 21px 50px;
}
.pd-r-2 {
  padding-right: 2px;
}
.pd-t-12 {
  padding-top: 12px;
}
img {
  cursor: pointer;
}
.img-1:hover {
  background: url("../images/social/gmail-c.png") no-repeat;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

@media screen and (max-width: 1240px) {
  .w-100 {
    max-width: 600px;
  }
}
@media screen and (min-width: 1240px) {
  .w-100 {
    max-width: 1150px;
    max-height: 800px;
  }
}
